body {
  max-width: 320px;
  margin: auto;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

h3 {
  text-align: center;
}

footer {
  text-align: center;
  background-color: rgb(43, 95, 173);
}

hr {
  align-items: center;
  color: black;
  width: 50%;
}

nav.menu {
justify-items: center;
}